.multiselect {
  &-wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
  }

  &-input-wrapper {
    @extend %input-wrapper;
    width: 100%;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    min-height: 32px;

    &:not(.danger):not(.disabled):hover {
      @extend %input-hovered;
    }

    &:not(.disabled):not(.focused).danger {
      border-color: $brand-danger;
    }

    &.focused {
      @extend %input-focused;
    }

    &.disabled {
      background-color: inherit;
      border-color: $black-05;
    }
  }

  &-tags-container {
    align-self: flex-start;
    margin: 5px;
    width: 100%;

    & .tags-item {
      margin-bottom: 2px;

      & .tags-icon {
        cursor: pointer;
      }
    }
  }

  &-placeholder {
    padding: 2px;
    margin-right: 12px;
    color: $black-04;
    float: left;
  }

  &-tags-union {
    align-self: flex-start;
    margin: 5px 10px;
  }

  &-input {
    border: none;
  }

  &-clear-icon {
    position: absolute;
    right: 11px;
    top: 5px;
    font-size: 18px;
    cursor: pointer;

    &::before {
      content: "\00D7";
      font-family: "Font Awesome 5 Free";
      color: $black-03;
    }
  }

  &-checkboxes {
    .suggestion-wrapper {
      padding: 0;
      .loader-container {
        border-radius: 8px;
      }
    }
  }
  &-header {
    border-bottom: 1px solid $black-05;
    padding: 16px 12px;
  }
  &-checkbox-list {
    height: 196px;
    padding: 6px 8px 8px;
    overflow-y: auto;
    &-wrapper {
      padding: 4px;
    }
    &.empty {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    > .checkboxtree-list {
      padding-left: 0;
    }
    .checkboxtree-list .checkbox-wrapper {
      margin-bottom: 5px;
    }
  }
  &-footer {
    border-top: 1px solid $black-05;
    padding: 16px 12px;
  }
  &-input-wrapper.disabled {
    background-color: $black-07 !important;
  }
}
