
.overlay-show .overlay-bg.toggle-filter {z-index: 999;}

/* Filter
----------------------------------------------------------------------------- Filter */

.filter-box + .tags {padding: .3rem 0 0;}
.filter-box label.block {color: gray;}

.filter-container {
  padding: 2.4rem 0;
  border-top: 1px solid #e4e8eb;
}
