{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["./tsconfig.json", "./tsconfig.demo.json"]
  },
  "rules": {
    // Sort keys in alphabetic order
    "sort-keys-fix/sort-keys-fix": "error",

    // Maximum string length including spaces, standard 100
    "max-len": ["error", 250],
    
    // The semicolon is always needed
    "babel/semi": "error",

    // No need for default props
    "react/require-default-props": 0,

    // Disable defaultProps and propTypes matching (propTypes are not used)
    "react/default-props-match-prop-types": 0,

    // In js files jsx syntax is used
    "react/jsx-filename-extension": 0,

    "react/jsx-one-expression-per-line": "off",

    // Organizing method order when creating a React component
    // Add type annotations to the beginning of file
    "react/sort-comp": [2, {
      "order": [
        "type-annotations",
        "static-methods",
        "lifecycle",
        "everything-else",
        "render"
      ]
    }],

    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",

    // Avoid being checked on tests
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/*.test-old.tsx", "**/*.test.tsx"]}],    

    // Do not use fot default exports
    "import/prefer-default-export": "off",
    // One file can contain several exports
    "import/no-cycle": "warn",

    // By default, it is recommended to check both nesting and ID to match label with control
    // One check should be is enough
    "jsx-a11y/label-has-for": "off",

    // Rules for accessibility:

    // The element with a click handler must have a keyboard handler
    "jsx-a11y/click-events-have-key-events": "off",

    // Force firing onfocus / onblur on onmouseover / onmouseout
    "jsx-a11y/mouse-events-have-key-events": "off",

    // HTML element with handler must have a role
    "jsx-a11y/no-static-element-interactions": "off",

    "jsx-a11y/anchor-is-valid": "off",
    // not always used
    // todo: update the rule when the minAttributes option appears
    "react/destructuring-assignment": "off",
    // labels do not always have htmlFor
    "jsx-a11y/label-has-associated-control": "off",
    // ref's current field is mutable
    "no-param-reassign": ["error", { "ignorePropertyModificationsFor": ["ref"]}],

    "@typescript-eslint/member-delimiter-style": ["error", {
      "multiline": {
          "delimiter": "comma",
          "requireLast": true
      },
      "singleline": {
          "delimiter": "comma",
          "requireLast": false
      }
    }],

    "no-use-before-define": ["error", { "functions":  false }],
    // spread is allowed
    "react/jsx-props-no-spreading": "off",

    "react/static-property-placement": "warn",

    "react/state-in-constructor": "warn",

    "no-console": ["error", { "allow": ["warn", "error"] }],

    "@typescript-eslint/no-use-before-define": ["error", { "functions":  false }],

    "@typescript-eslint/ban-ts-ignore": "warn",

    "@typescript-eslint/explicit-function-return-type": "warn",
    "@typescript-eslint/explicit-member-accessibility": "warn",

    "import/no-duplicates": "warn",

    "no-unused-expressions": "off",
    "@typescript-eslint/no-unused-expressions": "error",
    // TODO: remove and fix errors
    "@typescript-eslint/no-empty-function": "warn"
  },

  "plugins": [
    "jest",
    "babel",
    "@typescript-eslint",
    "react-hooks",
    "cypress",
    "typescript-sort-keys",
    "sort-keys-fix"
  ],

  "extends": [
    "airbnb",
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:typescript-sort-keys/recommended",
    "plugin:jest/recommended",
    "plugin:cypress/recommended"
  ],

  "env": {
    "browser": true,
    "jest/globals": true,
    "cypress/globals": true
  },

  "overrides": [
    {
      "files": [
        "demo/**"
      ],
      "rules": {
        "no-console": "off"
      }
    }
  ]
}
