cypress/
demo/
styles/
types/
docs/
storybook/
node_modules/
public/
cypress-coverage/
.nyc_output/

.idea/
.vscode/
.github/


cypress.json
webpack.*.js
tsconfig.json
tsconfig.*.json
.babelrc
.editorconfig
.eslintignore
.eslintrc
cg.config.json
jest.config.js
jest.setup.ts
