@font-face {
  font-family: 'uicons';
  src: url("../fonts/uicons/fonts/uicons.ttf?jn3ymo") format("truetype"), url("../fonts/uicons/fonts/uicons.woff?jn3ymo") format("woff"), url("../fonts/uicons/fonts/uicons.svg?jn3ymo#uicons") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="uicon-"],
[class*=" uicon-"] {
  display: inline-block;
  font-family: 'uicons' !important;
  speak: none;
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: top;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.sbicon-inline {
  font-size: inherit; }

.inline-icon {
  vertical-align: middle; }

[class*="uicon"].large {
  font-size: 10rem;
  opacity: .25; }

[class*="uicon"].big {
  font-size: 8rem;
  opacity: .4; }

[class*="uicon"].bigger {
  font-size: 12rem;
  opacity: .1; }

.uicon-save:before {
  content: "\e920"; }

.uicon-doc-edit:before {
  content: "\e901"; }

.uicon-doc-check:before {
  content: "\e900"; }

.uicon-doc-copy:before {
  content: "\e933"; }

.uicon-doc-add:before {
  content: "\e903"; }

.uicon-doc-landscape:before {
  content: "\e909"; }

.uicon-doc:before {
  content: "\e90b"; }

.uicon-doc-overdue:before {
  content: "\e953"; }

.uicon-doc-pdf:before {
  content: "\e91d"; }

.uicon-add-template:before {
  content: "\e91c"; }

.uicon-add-state:before {
  content: "\e921"; }

.uicon-calendar:before {
  content: "\e97d"; }

.uicon-close:before {
  content: "\e90d"; }

.uicon-user-fill:before {
  content: "\e91a"; }

.uicon-user:before {
  content: "\e91b"; }

.uicon-users:before {
  content: "\e92d"; }

.uicon-operator:before {
  content: "\e938"; }

.uicon-flag:before {
  content: "\e93d"; }

.uicon-flag-fill:before {
  content: "\e940"; }

.uicon-sort-desc:before {
  content: "\e941"; }

.uicon-sort-asc:before {
  content: "\e946"; }

.uicon-key:before {
  content: "\e94c"; }

.uicon-lock:before {
  content: "\e951"; }

.uicon-more:before {
  content: "\e952"; }

.uicon-refresh:before {
  content: "\e954"; }

.uicon-revert:before {
  content: "\e955"; }

.uicon-comment-add:before {
  content: "\e956"; }

.uicon-comment-del:before {
  content: "\e957"; }

.uicon-comment:before {
  content: "\e959"; }

.uicon-comment-fill:before {
  content: "\e95f"; }

.uicon-minus:before {
  content: "\e960"; }

.uicon-plus:before {
  content: "\e966"; }

.uicon-del:before {
  content: "\e96b"; }

.uicon-check:before {
  content: "\e96c"; }

.uicon-check-small:before {
  content: "\e90e"; }

.uicon-check-light:before {
  content: "\e96d"; }

.uicon-prev:before {
  content: "\e970"; }

.uicon-start:before {
  content: "\e971"; }

.uicon-collapse:before {
  content: "\e90a"; }

.uicon-expand:before {
  content: "\e908"; }

.uicon-next:before {
  content: "\e985"; }

.uicon-end:before {
  content: "\e986"; }

.uicon-arrow-down:before {
  content: "\e987"; }

.uicon-arrow-left:before {
  content: "\e988"; }

.uicon-swap:before {
  content: "\e989"; }

.uicon-arrow-right:before {
  content: "\e98a"; }

.uicon-arrow-up:before {
  content: "\e98b"; }

.uicon-upload:before {
  content: "\e98c"; }

.uicon-download:before {
  content: "\e98d"; }

.uicon-chain:before {
  content: "\e990"; }

.uicon-paper-clip:before {
  content: "\e991"; }

.uicon-cloud:before {
  content: "\e902"; }

.uicon-cloud-down:before {
  content: "\e936"; }

.uicon-cloud-up:before {
  content: "\e958"; }

.uicon-token:before {
  content: "\e904"; }

.uicon-ruble-in-circle:before {
  content: "\e915"; }

.uicon-exclamation-in-circle:before {
  content: "\e90f"; }

.uicon-exclamation-triangle:before {
  content: "\e93b"; }

.uicon-exclamation:before {
  content: "\e93c"; }

.uicon-triangle-in-circle-fill:before {
  content: "\e926"; }

.uicon-triangle-in-circle-empty:before {
  content: "\e927"; }

.uicon-error-circle-fill:before {
  content: "\e939"; }

.uicon-close-in-circle:before {
  content: "\e90c"; }

.uicon-error-circle-empty:before {
  content: "\e93a"; }

.uicon-success-empty:before {
  content: "\e94a"; }

.uicon-success-fill:before {
  content: "\e94f"; }

.uicon-success:before {
  content: "\e978"; }

.uicon-blocked:before {
  content: "\e913"; }

.uicon-plus-in-circle:before {
  content: "\e914"; }

.uicon-percent-in-circle:before {
  content: "\e928"; }

.uicon-phone1:before {
  content: "\e95d"; }

.uicon-clock:before {
  content: "\e96e"; }

.uicon-question1:before {
  content: "\e95e"; }

.uicon-question:before {
  content: "\e945"; }

.uicon-question-empty:before {
  content: "\e922"; }

.uicon-value-drop:before {
  content: "\e965"; }

.uicon-prolongation:before {
  content: "\e95c"; }

.uicon-deposites:before {
  content: "\e910"; }

.uicon-valuta:before {
  content: "\e911"; }

.uicon-iconSchetSmall:before {
  content: "\e97c"; }

.uicon-military-bill-small:before {
  content: "\e912"; }

.uicon-goz:before {
  content: "\e969"; }

.uicon-goz-doc:before {
  content: "\e968"; }

.uicon-military-bill:before {
  content: "\e916"; }

.uicon-main-military-bill:before {
  content: "\e917"; }

.uicon-valuta-bill:before {
  content: "\e918"; }

.uicon-ruble-bill:before {
  content: "\e919"; }

.uicon-corporate-cards:before {
  content: "\e923"; }

.uicon-mail:before {
  content: "\e924"; }

.uicon-clone:before {
  content: "\e950"; }

.uicon-tasks:before {
  content: "\e925"; }

.uicon-checkbox:before {
  content: "\e962"; }

.uicon-service-availability:before {
  content: "\e929"; }

.uicon-list:before {
  content: "\e92a"; }

.uicon-exit:before {
  content: "\e92b"; }

.uicon-search:before {
  content: "\e92c"; }

.uicon-signed:before {
  content: "\e92e"; }

.uicon-edit:before {
  content: "\e937"; }

.uicon-outbox:before {
  content: "\e92f"; }

.uicon-inbox:before {
  content: "\e930"; }

.uicon-draft:before {
  content: "\e931"; }

.uicon-mail1:before {
  content: "\e961"; }

.uicon-datepicker:before {
  content: "\e934"; }

.uicon-details:before {
  content: "\e935"; }

.uicon-export:before {
  content: "\e93e"; }

.uicon-external-url:before {
  content: "\e93f"; }

.uicon-print:before {
  content: "\e944"; }

.uicon-phone:before {
  content: "\e943"; }

.uicon-settings:before {
  content: "\e947"; }

.uicon-spinner:before {
  content: "\e948"; }

.uicon-star:before {
  content: "\e949"; }

.uicon-trash:before {
  content: "\e94d"; }

.uicon-bell:before {
  content: "\e94e"; }

.uicon-c-download:before {
  content: "\e95a"; }

.uicon-e-inv-small:before {
  content: "\e95b"; }

.uicon-receipt:before {
  content: "\e963"; }

.uicon-write-off:before {
  content: "\e964"; }

.uicon-rub:before {
  content: "\e967"; }

.uicon-euro:before {
  content: "\e96a"; }

.uicon-percent:before {
  content: "\e96f"; }

.uicon-manage-request:before {
  content: "\e972"; }

.uicon-icon-preapproved:before {
  content: "\e974"; }

.uicon-iconEye:before {
  content: "\e973"; }

.uicon-ellips-eye:before {
  content: "\e975"; }

.uicon-corpcard:before {
  content: "\e976"; }

.uicon-transit:before {
  content: "\e977"; }

.uicon-deadline:before {
  content: "\e97a"; }

.uicon-iconTSJ:before {
  content: "\e97b"; }

.uicon-house:before {
  content: "\e980"; }

.uicon-air-landing:before {
  content: "\e905"; }

.uicon-air-take-off:before {
  content: "\e906"; }

.uicon-aircraft:before {
  content: "\e907"; }

.uicon-iconLink:before {
  content: "\e97e"; }

.uicon-Envelopeplus:before {
  content: "\e984"; }

.uicon-cloud-up-fill:before {
  content: "\e932"; }

.uicon-pdf:before {
  content: "\e942"; }

.uicon-excel:before {
  content: "\e983"; }

.uicon-word:before {
  content: "\e91e"; }

.uicon-archive:before {
  content: "\e91f"; }

.uicon-star.off {
  color: #bbb; }

.uicon-star.on,
a.uicon-star:hover,
a:hover > .uicon-star {
  color: #f49530; }

/*# sourceMappingURL=fonts.uicon.css.map */