$black-01: #000;
$black-02: #333;
$black-03: #666;
$black-04: #999;
$black-05: #ccc;
$black-06: #e6e6e6;
$black-07: #f3f5f7;
$black-08: #fafafa;
$white: #fff;

$accent-01: #b98c06;
$accent-02: #ffc107;
$accent-03: #ffe676;
$accent-04: #ffeaad;
$accent-05: #ffebd6;

$primary-01: #026aa3;
$primary-02: #0288d1;
$primary-03: #02a0f6;
$primary-04: #47c2f8;
$primary-05: #d5f0f8;

$secondary-01: #484848;
$secondary-03: #757575;
$secondary-05: #cbcbcb;

$success-01: #008000;
$success-02: #00b300;
$success-03: #00e600;
$success-04: #80ff80;
$success-05: #e6ffe6;

$error-01: #c10020;
$error-02: #f50029;
$error-03: #ff5c77;
$error-04: #ffc2cc;
$error-05: #fff5f7;

$brand-primary: $primary-02;
$brand-success: $success-02;
$brand-warning: $accent-02;
$brand-danger: $error-02;

$border-radius: 4px;
