%modal-wrapper-overlay-common-styles {
  top: 0;
  right: 0;
  left: 0;
}

.modal {
  &-wrapper {
    @extend %modal-wrapper-overlay-common-styles;
    position: fixed;
    min-height: 100%;
    z-index: 10000;
    background-color: rgba(#000, 0.6);
    overflow: auto;
    backdrop-filter: blur(3px);
  }

  &-overlay {
    @extend %modal-wrapper-overlay-common-styles;
  }

  &-window {
    margin: 64px 0;
    max-width: 98%;
    z-index: 10002;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 0 2px 10px 1px rgba(#000, 0.2);
    border-radius: $border-radius;
    
    &.sm {
      width: 480px;
      .modal-body {
        min-height: 200px;
      }
    }

    &.md {
      width: 600px;
      .modal-body {
        min-height: 290px;
      }
    }

    &.lg {
      width: 800px;
      .modal-body {
        min-height: 440px;
      }
    }
  }

  &-cross {
    position: absolute;
    top: 18px;
    right: -20px;
    display: block;
    width: 35px;
    height: 35px;
    transform: translateX(100%);
    cursor: pointer;
    &::before {
      content: "\00D7";
      font-family: "Font Awesome 5 Free";
      font-weight: 400;
      color: $white;
      font-size: 32px;
    }
  }

  &-body {
    background: $white;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;

    &:last-child {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }

  &-header {
    border-radius: $border-radius $border-radius 0 0;
    border-bottom: 1px solid $black-05;
    padding: 16px 32px 15px;
    font-size: 21px;
    line-height: 32px;
    font-weight: 500;
    background: $white;

    & + .modal-body {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  &-footer {
    border-top: 1px solid $black-05;
    padding: 14px 32px 16px;
    text-align: right;
    background: $white;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  &-alert {
    background-color: #ffe5e8;
    border-bottom: 1px solid;
    border-bottom-color: #c11030;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    min-height: 64px;
    padding: 24px 32px;

    &-overlay {
      background: rgba(255, 255, 255, 0.8);
      border-radius: 4px;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 100;
    }

    &-cross {
      cursor: pointer;
      display: block;
      height: 35px;
      position: absolute;
      right: 0;
      top: 10px;
      width: 35px;

      &::before {
        content: "\00D7";
        font-family: "Font Awesome 5 Free";
        font-weight: 400;
        color: rgba(0, 0, 0, 0.5);
        font-size: 32px;
      }
    }
  }
}
