@mixin button-disabled($type) {
  background-color: $type !important;
  color: $text-reverse !important;
  border-color: $type !important;
}

.dropdown-wrapper {
  display: inline-block;
  position: relative;
  overflow: visible; // fix IE11 <button/> overflow: hidden

  & > ul {
    background-color: $white;
    border-radius: $input-border-radius;
    min-width: 100%;
    display: none;
    padding: 0.3rem;
    position: absolute;
    top: 100%;
    border: 1px solid $gray-light;
    box-shadow: $shadow-level-5;
    overflow: hidden;
    visibility: hidden;

    &.visible {
      visibility: visible;
    }

    &.pos-top {
      top: auto;
      bottom: calc(100% - 1rem);
      box-shadow: $shadow-level-2-top;
    }

    &.pos-right {
      right: 0;
    }

    &:not(.pos-right) {
      left: 0;
    }

    & > li {
      display: block;
      position: relative;
      padding: 0;
      border-radius: 0.8rem !important;

      &.level-2 {
        border-top: 0;

        &:last-child {
          border-bottom: 0;
        }
      }

      & > a:not(.button), & > div, & > span {
        min-width: 160px;
        padding: 0.4rem 0.8rem 0.4rem;
        color: $black-01;
        display: flex;
        justify-content: start;
        border-radius: 0.8rem !important;
      }

      &:hover > a:not(.count), &:hover > div:not(.count), &:hover > span:not(.count) {
        background-color: $black-07;
      }

      &.active > a, &.active > div, &.active > span {
        background-color: $black-05;
      }

      .count {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        min-width: 0.8rem;
        width: 0.8rem;
        height: 0.8rem;
        background-color: $accent-02;
        border-radius: 50%;
        padding: 0;
      }

      & > a:focus {
        box-shadow: none;
      }

    }
  }

  &.opened {
    z-index: 999;

    & > ul {
      display: block;
    }
  }

  &.disabled {
    background-color: transparent !important;
    .button-wrapper {
      color: $black-05 !important;
      background-color: $body-bg !important;
      border-color: $black-05;

      > * {
        color: $black-05 !important;
      }

      &:not(.blank):focus {
        padding: 7px 40px 7px 24px;
        border-width: 1px;
        border-color: $black-05;
        &::after {
          right: 17px;
        }
      }

      &.small:not(.blank):focus {
        padding: 5px 31px 5px 16px;
        &::after {
          right: 11px;
        }
      }

      &.more {
        &:not(.blank):focus {
          padding: 5px;
        }
        &.small:not(.blank):focus {
          padding: 3px;
        }
      }

      &.success,
      &.primary {
        &:hover, & {
          @include button-disabled($primary-04);
        }
      }

      &.warning {
        &:hover, & {
          @include button-disabled($accent-04);
        }
      }

      &.danger {
        &:hover, & {
          @include button-disabled($error-04);
        }
      }
    }
  }
}
