.masked {
  &-input-wrapper {
    @extend %input-wrapper;
    position: relative;
    display: flex;
    flex-direction: row;

    &:not(.disabled):not(.danger):hover {
      @extend %input-hovered;
    }

    &:not(.focused):not(.disabled).danger {
      border-color: $brand-danger;
    }

    &.focused {
      @extend %input-focused;
    }

    &.disabled {
      @extend %input-disabled;
    }
  }

  &-input-clear-icon {
    @extend %input-clear-icon;
  }
}
